services:
  ms-user:
    build: .
    container_name: ms-user
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=3000
      - NODE_ENV=production
      - NODE_OPTIONS=--dns-result-order=ipv4first
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
    enable_ipv6: false